.card,
.inactiveCard {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.45s ease, border-color 0.45s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active,
.inactiveCard:hover,
.inactiveCard:focus {
  color: #e33f3f;
  border-color: #e33f3f;
}

.card:hover,
.card:focus,
.card:active {
  cursor: pointer;
}

.inactiveCard:hover,
.inactiveCard:focus {
  cursor: default;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
}
