.container {
  padding: 0 2rem;
}

.title {
  text-align: center;
  padding-top: 4rem;
}

.title a {
  color: #e33f3f;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.logo {
  height: 1.5em;
  margin-left: 0.5rem;
}