.sidebar {
  height: 90vh;
  border: 2px solid #dfdfdf;
  position: relative;
  transition: all 0.5s ease-in-out;
  bottom: 2px;
}

.control {
  position: absolute;
  cursor: pointer;
  right: -1.25rem;
  top: 2.25rem;
  width: 2.75rem;
  border-radius: 9999px;
  transition: all 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .sidebar {
    border: 1px solid #202020;
  }
}

@media (max-width: 800px) {
  .sidebar {
    background-color: #dfdfdf;
  }
}
