html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a, .linkLabel {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}

a:hover, .linkLabel:hover {
  color: #e33f3f;
}

button {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  filter:opacity(0.8);
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  a, .linkLabel {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
    cursor: pointer;
  }

  html {
    color-scheme: dark;
  }
  body {
    color: #D42B99;
    background: black;
  }
}
